<head>
	<script defer src="/js/script.js"></script>
	<link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
	<div class="index-container">
		<h1>Preentrega1 Backend II - CoderHouse</h1>

		<!-- Link a la página de Login -->
		<div class="index-buttons">
			<a href="/login">
				<button>Ingresar</button>
			</a>
		</div>

		<!-- Link a la página de Usuario actual -->
		<div class="index-buttons">
			<a href="/api/sessions/current">
				<button>Usuario</button>
			</a>
		</div>

		<!-- Formulario para realizar logout con el método DELETE -->
		<div class="index-buttons">
			<button id="logoutButton">Cerrar sesion</button>
		</div>
	</div>
</body>