<div class="container">
	<h1>Log In de Usuario</h1>
</div>
<div class="container container-login">
	<form action="/api/sessions/login" method="post">
		<div class="row mb-3">
			<label for="userName" class="col-sm-2 col-form-label">Usuario:</label>
			<div class="col-sm-10">
				<input type="text" name="userName" class="form-control" id="userName" />
			</div>
		</div>
		<div class="row mb-3">
			<label for="password" class="col-sm-2 col-form-label">Password</label>
			<div class="col-sm-10">
				<input
					type="password"
					class="form-control"
					name="password"
					id="password"
				/>
			</div>
		</div>
		<div class="row mb-3">
			<div class="col-sm-10 offset-sm-2">
			</div>
		</div>
		<button type="submit" class="btn btn-primary">Iniciar Sesión</button>
	</form>

	<a href="/register">No tengo un usuario creado.</a>

</div>