<h1>Bienvenido a mi entrega <u>{{userName}}</u>!</h1>

<h3>Richard Flores</h3>

<a href="/api/products" target="_blank" rel="noopener noreferrer">Api Products</a>
<br />
<a href="/api/carts" target="_blank" rel="noopener noreferrer">Api Carts</a>
<br />

<a href="/realtimeproducts" target="_blank" rel="noopener noreferrer">Real time
	Products</a>

<form action="/api/sessions/logout" method="post">
	<button>LogOut </button></form>