<link rel="stylesheet" href="/css/realtimeproducts.styles.css" />

<h1>Real Time Products</h1>

<a href="/products">productos</a>

<button id="addProductBtn">Agregar Productos</button>

<div class="container" id="containerProducts"></div>

<h2></h2>

{{! CDN de socket io }}
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.min.js"
></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script type="module" src="/js/main.js"></script>