:root {
  --primario: #f9feff;
  --principalClaro: #6fbbc2c2;
  --principal: #7ab8bf;
  --secundario: #025159;
  --secundarioOscuro: #1c6069;
  --backgroud: #eefdff;
  --divs: #a68c58;
  --dorado: #a68758;
  --doradoOscuro: #705730;
  --blanco: #ffffff;
  --negro: #000;

  --fuentePrincipal: "Raleway", sans-serif;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/** Globales **/
body {
  background-color: var(--backgroud);
  font-size: 1.6rem;
  line-height: 1.5;
  margin: 0;
}

p,
.p {
  font-size: 2rem;
  font-family: var(--fuentePrincipal);
  /* color: var(--blanco); */
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.mainContenedor {
  max-width: 120rem;
  margin: 0 auto;
  text-align: center;
}

h1,
h2,
h3 {
  text-align: center;
  color: var(--secundario);
  font-family: var(--fuentePrincipal);
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2.4rem;
}
button,
.pointer {
  cursor: pointer;
}